/* body{
  margin: 10px; */
/* .setting_header:hover{
  background-color: aqua;
} */
.header_images{
  filter: brightness(0.5);
}
@keyframes scale-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.header_images:hover{
  filter: brightness(1.0);
  animation: scale-in-out;
}
